   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* header */
  #nav-1,
  #nav-2,
  #nav-3,
  #navbar-1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px 20px;
    background-color: #373737;
    border-radius: 15px;
    padding: 20px;
    scroll-behavior: smooth;
    /* place-content: space-evenly; */
  }
  ul li a {
    color: whitesmoke;
  }
  #nav-1 {
    color: whitesmoke;
    cursor: pointer;
  } 


  ul li :hover {
    color: orange;
    transform: translate(2px, 3px);
    transition: ease-in-out;
    transition-duration: 0.3s;
    border-radius: 15px;
  }
  
  ul li a:hover {
    border-bottom: 5px;
    color: black;
    transform: translate(2px, 3px);
    transition: ease-in-out;
    transition-duration: 100ms;
  }

  section h1{
    text-align: center;
    padding: 20px 0;
    background-color: orange;
    margin: 15px;
    border-radius: 15px;
  }
  h3{
    text-align: center;
    padding: 20px;
    margin: 10px 20px;
    border-radius: 15px;
    font-size: bold;
  }
  img{
    width: 75%;
    height: auto;
    margin: 5% 0 5% 10% ;
  }
section p{
  text-align: center;
  padding: 10px;
  margin-right: 20px;
}

#about{
  background-color: #ffefc6;
}
/* doubt */

/* section .btn{
  display: flex;
  justify-content: center;
} */
 

.btn{
  margin-left: 46.5%;
  background-color: black;
  color: orange;
}

.btn:hover{
  background-color: orange;
  color: black;
  border-radius: 15px;
  transition: 0.3s;
  transition: ease-in-out;
}
.btn:active{
  background-color: black;
  color: white;
  border-radius: 15px;
}
h2{
  text-align: center;
  padding: 20px;
  margin: 10px 20px;
  border-radius: 15px;
  font-size: bold;
}

.video{
  text-align: center;
}
.video h2{
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


figcaption{
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}
img {
  cursor: pointer;
  border-radius: 3rem;
  box-shadow: 10rem;
  scrollbar-shadow-color: #333;
} 

/* footer */

footer {
  text-align: center;
  background-color: #333;
  color: whitesmoke;
  padding: 20px;
}


footer h1{
  background-color: #333;
  padding: 10px;
}

  footer .btn-icons{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    gap: 10px;
    padding: 5px;
    margin: 20px 0;
      /* display: grid;
      grid-template-columns:repeat(4,minmax(150px, 1fr));
  gap: 30px;
  margin: 20px 0; */
  }
  footer h3{
    text-align: center;
  }

footer .btn-icons div:hover {
  color: orange;
  box-shadow: 2px;
}

footer p {
  color: whitesmoke;
  padding: 20px;
}

footer h2 {
  padding: 10px 0;
}
footer h2:hover {
  color: orange;
}
footer h3:hover { 
  color: orange;
}






/* .foot{
  background-color: aqua;
} */