* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
#nav-1,
#nav-2,
#nav-3,
#navbar-1 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px 20px;
  background-color: #373737;
  border-radius: 15px;
  padding: 20px;
  scroll-behavior: smooth;
  
}
ul li a {
  color: whitesmoke;
}
#nav-1 {
  color: whitesmoke;
  cursor: pointer;
}
#nav-1 li a:hover {
  color: orange;
  transform: translate(2px, 2px);
}
#nav-1 li:hover {
  color: orange;
  transform: translate(2px, 2px);
}

.card-1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}
.card-2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

ul li a:hover{
  color: orange;
  transform: translate(2px,2px);
}

ul li a:hover {
  border-bottom: 5px;
  color: black;
  transform: translate(2px, 3px);
  transition: ease-in-out;
  transition-duration: 100ms;
}
.center,
footer {
  text-align: center;
}
article {
  border: 2px solid black;
}
img {
  width: 400px;
  height: 400px;
  padding: 20px;
}

img:hover {
  transform: translate(2px, 2px);
  scale: 1.07;
  transition: 0.3s ease-in-out;
}
.head {
  text-align: center;
}
button {
  text-decoration: none;
  border: none;
  padding: 5px;
  b
}

button a:hover {
  background-color: rgb(34, 28, 28);
  color: whitesmoke;
  border-radius: 10px;
  transform: translate(2px, 2px);
  transition: ease-in-out;
  transition-duration: 1s;
  text-decoration: none;
  padding: 3px;

  /* scale: 1.3; */
}

ul li a:hover {
  border-bottom: 5px;
  color: black;
  transform: translate(2px, 3px);
  transition: ease-in-out;
  transition-duration: 100ms;
}

p,
a,
button {
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: 16;
  font-weight: 500;
  font-style: normal;
}

footer {
  text-align: center;
  background-color: #333;
  color: whitesmoke;
  padding: 20px;
  margin: 8rem 0 0 1rem;
}

footer h1 {
  background-color: #333;
  padding: 10px;
}

footer .btn-icons {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  gap: 10px;
  padding: 5px;
  margin: 20px 0;
  /* display: grid;
    grid-template-columns:repeat(4,minmax(150px, 1fr));
    gap: 30px;
    margin: 20px 0; */
}
footer h3 {
  text-align: center;
}

footer .btn-icons div:hover {
  color: orange;
  box-shadow: 2px;
}
footer h2:hover {
  color: orange;
  box-shadow: 2px;
}

footer p {
  color: whitesmoke;
  padding: 20px;
}
