* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#nav-1,
#nav-2,
#nav-3,
#navbar-1 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10px 20px;
  background-color: #333;
  border-radius: 15px;
  padding: 20px;
  scroll-behavior: smooth;
  cursor: default;
  /* place-content: space-evenly; */
}
ul li a {
  color: whitesmoke;
}
#nav-1 {
  color: whitesmoke;
  cursor: pointer;
}
header #nav-1 li:hover {
  color: orange;
  transform: translate(2px,2px);
}

article {
  padding: 5px 5px 5px 10px;
}
h3,
h1 {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  padding: 10px 0;
}
a {
  text-decoration: none;
}

.head {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: orange;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.head h1:hover {
  color: red;
}

button {
  background-color: whitesmoke;
  padding: 4px;
  cursor: pointer;
  border-radius: 15px;

}

button:hover {
  background-color: rgb(34, 28, 28);
  color: whitesmoke;
  border-radius: 15px;
  transform: translate(2px, 3px);
  transition: ease-in-out;
  transition-duration: 0.3s;
  padding: 1px;
  /* scale: 1.3; */
}

ul li :hover {
  color: orange;
  transform: translate(2px, 3px);
  transition: ease-in-out;
  transition-duration: 0.3s;
  border-radius: 15px;
}

ul li a:hover {
  border-bottom: 5px;
  color: black;
  transform: translate(2px, 3px);
  transition: ease-in-out;
  transition-duration: 100ms;
}
p:hover{
  color: black;
}

.card-1,
.card-1-2,
.card-1-3,
.card-1-4,
.card-1-5,
p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #555;
}
.card-1-4{
margin-right: 7rem;
}
.box-1 {
  border: 2px solid black;
  padding: 10px;
}
 img:hover {
  transform: translate(2px 7px);
  overflow: hidden;
  scale: 1.03;
  transition: 0.3s;
}
img{
  width: 420px;
  height: 400px;
  padding: 20px;
}
.card-2 {
  text-align: center;
  cursor: pointer;
}
section table {
  margin: 20px 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  margin: 10px;
}
th,
td {
  border: 1px solid black;
  text-align: center;
}

th {
  background-color: #333;
  color: whitesmoke;
}
tr:nth-child(Even) {
  background-color: #f2f2f2;
}
.table {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #333;
  color: whitesmoke;
  padding: 20px;
  text-align: center;
}

footer #nav-3 {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

footer .btn-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 20px 0;
  /* display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 20px 0; */
}

footer .btn-icons div:hover {
  color: orange;
  box-shadow: 2px;
  transform: translate(2px,2px);
}

footer p {
  color: whitesmoke;
  padding: 20px;
}

footer h1 {
  padding: 10px 0;
}
footer h1:hover {
  color: orange;
}
footer h3:hover {
  color: orange;
}

figcaption {
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

